
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Razor</title>
</head>
<body>
    <div> 
        <p>@DateTime.Now</p>
        <h2Razor ile değişken tanımlama></h2Razor>
        <hr />
        @{ 
            string ad = "Metin";
            string soyadi = "ŞEN";
            <p>@ad</p>
            <p>@soyadi</p>
        }
        <hr />
        @{
            Random rnd = new Random();
            int sayi = rnd.Next(0, 11);
            if (sayi%2==0 )
            {
                <p>@sayi çifttir</p>
            }
            else
            {
                <p>@sayi tektir</p>
            }
        }


    </div>
</body>
</html>
<script type="text/javascript">
    window.onload = function(){
        setInterval(function(){
            location.reload();
        },1000);            
    };         

</script>
